<div>
<div class="mb-3">
    <label for="exampleInputName" class="form-label">Nome</label>
    <input type="Name" class="form-control" id="exampleInputName">
 </div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
</div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
</div>
<div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
</div>
<button type="submit" class="btn btn-primary" id="submitb">Submit</button>
</div>


<script>
     $("#submitb").click(()=>{
        cadastrarAdministrador($("#exampleInputEmail1").val(), $("#exampleInputPassword1").val(), $("#exampleInputName").val()); 
        let user = $("#exampleInputEmail1").val();
        let senha = $("#exampleInputPassword1").val();
        let nome = $("#exampleInputName").val();
        cadastrarAdministrador(user, senha, nome)
    });



    function cadastrarAdministrador(email, senha, nome){
            var objectJson = {
                "acao": "cadastrar",
                "email": email,
                "senha": senha,
                "nome": nome
            };

            console.log(objectJson);
            var stringJson = JSON.stringify(objectJson); 
            console.log(stringJson);

            $.post("controller/administrador.php/",stringJson,function(resposta){ 
                console.log(resposta);
                
            
            });
        }
</script>